*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Navbar{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: large;
    font-weight: bold;
    color: rgb(49, 45, 45);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.sub-nav{
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.sub-nav button{
   padding: 10px;
    border: none;
  background-color: blueviolet;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: white;
    border-radius: 5px;
   }
/* *************************** Landing page *****************************  */
.landing{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-image: linear-gradient(to right, rgba(248, 219, 201, 0.377), rgba(253, 211, 160, 0.774));
    font-family: Arial, Helvetica, sans-serif;
    color: black;


}
.left{
    width: 40%;
    padding: 20px;
    font-size: x-large;
    line-height: 1.5;   
}
.left button{
    padding: 10px;
    border: none;
    background-color: blueviolet;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}
#l1{
    color: rgb(31, 25, 25);
    font-weight: bolder;
}
#l2{
    color: rgb(97, 83, 177);
    font-weight: bolder;
}

.right{
    width: 40%;
    padding: 20px;
}
.right img{
    width: 100%;
    height: 80%;
    border-radius: 50%;
}
/* *********************************** courses section  ******************************* */
.course{
    padding-top: 50px;
    color: blueviolet;
    width: 100%;
    padding: 50px 0;
    background-color: rgb(240, 234, 234);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course h3{
    font-size: 4.5rem;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.726);
}
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 10px;
}
.card{
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
}
.card h4{
    padding-top: 40px;
    margin-bottom: 15px;
    color: black;
    font-size: 1.8rem;
}
.card p{
    line-height: 1.6;
    color: rgb(80, 78, 78);
}
.card button{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: blueviolet;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
.empty{
    height: 8px;
    width: 10%;
    background-color: blueviolet;
    margin-top: 10px;
    border-radius: 5px;
    
}
.card img{
    width: 20%;
    height: 50px;
    border-radius: 10px;
}
/* ****************************************************** ABOUT SECTION     *************************** */
.about{
    padding-top: 50px;
    color: gray;
    width: 100%;
    padding: 50px 0;
    background-color: rgb(196, 238, 252);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h3{
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.726);
}
.a1{
    width: 60%;
    font-size: large;
    line-height: 1.8;
    color: rgb(49, 45, 45);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: left;
    font-weight: 500;
}

/* NAvbar  */
@media screen and (max-width: 840px) {
    .Navbar{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .sub-nav{
        flex-direction: column;
        gap: 10px;
    }

    .landing{
        height: auto;
   flex-direction: column;
   align-items: center;
}
.left, .right{
    width: 80%;
    text-align: center;}
    .course h3{
    font-size: 1.5rem;
   
}
.a1{
    width: 80%;
    font: medium;   
}
.about h3{
    font-size: 1.5.5rem;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.726);
}
}

@media screen and (max-width: 1040px) {
.landing{
    height: auto;
   flex-direction: column;
   align-items: center;
}
.left, .right{
    width: 80%;
    text-align: center;
}
.right img{
    height: 40%;
}

.course h3{
    font-size: 3.5rem;
   
}

}
@media screen and (max-width: 1350px) {
.landing{
gap: 5px;
}
.left, .right{
    width: 90%;
    text-align: center;
}

}