*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Navbar{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: large;
    font-weight: bold;
    color: rgb(49, 45, 45);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.sub-nav{
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.sub-nav button{
   padding: 10px;
    border: none;
  background-color: blueviolet;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: white;
    border-radius: 5px;
   }

.landing{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* background-color: rgb(240, 234, 234); */
      background-image: linear-gradient(to right, rgba(248, 219, 201, 0.377), rgba(253, 211, 160, 0.774));
    font-family: Arial, Helvetica, sans-serif;
    color: black;


}
.left{
    width: 40%;
    padding: 20px;
    font-size: x-large;
    line-height: 1.5;   
}
.left button{
    padding: 10px;
    border: none;
    background-color: blueviolet;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}
#l1{
    color: rgb(31, 25, 25);
    font-weight: bolder;
}
#l2{
    color: rgb(97, 83, 177);
    font-weight: bolder;
}

.right{
    width: 40%;
    padding: 20px;
}
.right img{
    width: 100%;
    height: 60%;
    border-radius: 50%;
}
/* NAvbar  */
@media screen and (max-width: 840px) {
    .Navbar{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .sub-nav{
        flex-direction: column;
        gap: 10px;
    }

    .landing{
   flex-direction: column;
   align-items: center;
}
.left, .right{
    width: 80%;
    text-align: center;}
}

@media screen and (max-width: 1040px) {
    

    .landing{
   flex-direction: column;
   align-items: center;
}
.left, .right{
    width: 80%;
    text-align: center;
}
.right img{
    height: 40%;
}

