*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  ************************************* Navbar code *********************** */
nav{
    background-color: black;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.logo > img{
    width: 180px;
    height: auto;
}
.sub-nav{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.sub-nav1 li > a{
    text-decoration: none;
    color: white;
}
.sub-nav1{ 
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: larger;
}
#btn1{
    padding:  20px;
    font-size: large;
    border-radius: 50px;
    border: 1px solid white;
    background-color: black;
    color: white;
}
#btn2{
    padding:  20px;
    font-size: large;
    border-radius: 50px;
    border: none;
    background-color: red;
    color: white;
}
/* ************************************** Navbar End  ********************************************* */
/* ************************************* Welcome start ******************************************** */
.welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding-top: 50px;
    color: white;
    text-align: center;
} 
.welcome h1{
    font-size: 60px;
    margin-bottom: 10px;
}
.h11{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}
.welcome h2{
    font-size: 55px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.welcome p{
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.w-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
.w-card{
    text-align: center;
}
.logo1{
    background-color: white;
    padding: 10px;
    height: 180px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-card > button{
    padding: 15px 50px;
    font-size: large;
    border-radius: 50px;
    border: 1px solid white;
    background-color: black;
    color: white;
    margin-top: 20px;
}
/* ******************************* welcome End  ************************************************* */
.franchises{
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 30px;
}
.franchises h1{
    color: white;
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.franchises h2{
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fran-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.sub-fran {
    width: 300px;
    height: 600px;
    background-color: black;
    border-radius: 10px;
    margin: 30px;

}
.fran-logo{
    width: 100%;
    height: 240px;
    object-fit: cover;
    overflow: hidden;
    background-color: white;
}
.fran-logo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.sub-fran h3{
    font-size: 30px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub-fran p{
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub-fran button{
    padding: 15px 60px;
    font-size: large;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    margin-top: 40px;
    border: 1px solid white;
}
/* *********************************************************Franchiees End ********************  */
/* ************************************************* Village Start ********************* */
.village{
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    padding: 20px;
}
.village h1{
    color: white;
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.village h2{
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub-vil{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
}
.vil-img{
    width: 50%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    background-color: white;
}
.vil-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vil-card{
    width: 45%;
    height: auto;
    text-align: left;
}
#gu{
    color: red;
    letter-spacing: 10px;
}
.vil-card h3{
    font-size: 30px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.vil-card p{
    font-size: 15px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.vil-card button{
    padding: 15px 60px;
    font-size: large;
    border-radius: 50px;
    border: none;
    background-color: green;
    color: white;
    margin-top: 40px;
    border: 1px solid white;
}
/* *********************************************** village End ************************** */
/* ********************************************Opening start ****************************  */
.opening{
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    height: auto;
    padding: 30px;

}
.opening h1{
    
     color: white;
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.opening h2{
     color: white;
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
.open-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    width: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    height: 250px;
    border-radius: 10px;
    /* padding: 50px; */

}
.card > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;  
    margin-top: 20px;
}
#red{
    color: red;
    padding-top: 20px;
}
.card > h3{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card > p{
    font-size: large;
}
/*  ************************************************** Footer ************************************** */
.footer{
    width: 100%;
    height: auto;
    background-color: rgba(27, 20, 20, 0.993);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}
.f1{
    width: 30%;
    padding: 10px;
}
.f1 > p{
    font-size: 15px;
    line-height: 1.8;
}

.f-logo{
    width: 30%;
    padding-bottom: 50px;
}
.f-logo > img{
    width: 100%;
    height: auto;
}
.f2{
    width: 20%;
}
.f2  p{
     font-size: 20px;
    line-height: 1.8;
}
.fh{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.f3{
    width: 25%;
}

.ch{
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
}
.f4{
    width: 15%;
}

.fb{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
}
.fb button{
    padding:  20px;
    font-size: large;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
    margin-top: 20px;
}


/* Navbar Responsive  */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
    }
    .sub-nav {
        flex-direction: column;
        gap: 15px;
    }
    .sub-nav1 {
        flex-direction: column;
        gap: 20px;
        font-size: medium;
    }
    #btn1, #btn2 {
        padding: 15px;
        font-size: medium;
    }
    /* Welcome Responsive  */
    .welcome{
        height: auto;
        padding: 30px 10px;
    }
    .h11{
        font-size: 50px;
    }
    .welcome p{
        font-size: 18px;
    }
    .welcome h2{
        font-size: 30px;
    }
    .welcome h1{
        font-size: 40px;
    }
/*  Welcome responsive End  */
/* Village start  */
    .sub-vil{
        flex-direction: column;
        align-items: center;
    }
    .village h1{
        font-size: 40px;
    }
    .village h2{
        font-size: 40px;
    }
    .vil-img, .vil-card{
        width: 90%;
    }
/* Village End  */
/* Opening start  */
.opening h1 , .opening h2{
         font-size: 45px;
    }
    
    /* Opening End  */
    /* Footer  */
    .footer{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .f1, .f2, .f3, .f4{
        width: 80%;
        text-align: center;
    }
    /* .f-logo{
        ;  
  } */
   .f-logo {
        width: 90%;
    }
    .f-logo > img {
        width: 50%;
    }
   .fb{
        flex-direction: row;
        gap: 10px;
    }
}
@media (max-width: 480px) {
    nav {
        padding: 10px;
    }
    .logo > img {
        width: 150px;
    }
    .sub-nav1 {
        font-size: small;
    }
    #btn1, #btn2 {
        padding: 10px;
        font-size: small;
    }
    /* Welcome Responsive  */
    .welcome{
        height: auto;
        padding: 30px 10px;
    }
    .h11{
        font-size: 50px;
    }
    .welcome p{
        font-size: 18px;
    }
    .welcome h2{
        font-size: 30px;
    }
    .welcome h1{
        font-size: 40px;
    }
    
/*  Welcome responsive End  */
/* Village start  */
    .sub-vil{
        flex-direction: column;
        align-items: center;
    }
    .village h1{
        font-size: 40px;
    }
    .village h2{
        font-size: 40px;
    }
    .vil-img, .vil-card{
        width: 90%;
    }
/* Village End  */
    /* Opening  */
    .opening h1 {
         font-size: 35px;
    }
    .opening h2 {
         font-size: 30px;
    }
}
@media (max-width : 1040px){
    .nav{
        justify-content: space-between;
        padding: 30px;
    }
    .logo > img {
        width: 100px;
    }
     #btn1, #btn2 {
        padding: 10px;
        font-size: small;
    }
    .sub-nav{
    gap: 20px;  
    }
    .sub-nav1{         
    gap: 10px;
}
 /* Welcome Responsive  */
    .welcome{
        height: auto;
        padding: 30px 10px;
    }
    .h11{
        font-size: 50px;
    }
    .welcome p{
        font-size: 18px;
    }
    .welcome h2{
        font-size: 30px;
    }
    .welcome h1{
        font-size: 40px;
    }
    
    /*  Welcome responsive End  */
    /* village  */
    .vil-img{
        height: 300px;
        /* width: 40%; */
}

/* Footer  */
.footer{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .f1, .f2, .f3, .f4{
        width: 80%;
        text-align: center;
    }
    .f-logo {
        width: 90%;
    }
    .f-logo > img {
        width: 50%;
    }
    .fb{
        flex-direction: row;
        gap: 10px;
}}
   
