*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.logo > img{
    width: 180px;
    height: auto;
}
.sub-nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.sub-nav1 li > a{
    text-decoration: none;
    color: white;
}
.sub-nav1{ 
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: larger;
}
#btn1{
    padding:  20px;
    font-size: large;
    border-radius: 50px;
    border: 1px solid white;
    background-color: black;
    color: white;
}
#btn2{
    padding:  20px;
    font-size: large;
    border-radius: 50px;
    border: none;
    background-color: red;
    color: white;
}
/* Navbar Responsive  */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
    }
    .sub-nav {
        flex-direction: column;
        gap: 15px;
    }
    .sub-nav1 {
        flex-direction: column;
        gap: 20px;
        font-size: medium;
    }
    #btn1, #btn2 {
        padding: 15px;
        font-size: medium;
    }
}
@media (max-width: 480px) {
    nav {
        padding: 10px;
    }
    .logo > img {
        width: 150px;
    }
    .sub-nav1 {
        font-size: small;
    }
    #btn1, #btn2 {
        padding: 10px;
        font-size: small;
    }
}
@media (max-width : 1040px){
    .nav{
        justify-content: space-between;
    }
    .logo > img {
        width: 100px;
    }
     #btn1, #btn2 {
        padding: 15px;
        font-size: small;
    }
    .sub-nav{
    gap: 15px;  
    }
    .sub-nav1{ 
    gap: 15px;
}
   

}