.navbar-brand > img{
    width: 180px;
    height: 50px;
    object-fit: cover;
    overflow: hidden;
}
.navbar-nav {
    padding-right: 80px;
    gap: 20px;
    color: white;
}
.navbar{
    border-bottom: 1px solid gray;
}