.navbar-brand > img{
    width: 180px;
    height: 50px;
    object-fit: cover;
    overflow: hidden;
}
.navbar-nav {
    padding-right: 80px;
    gap: 20px;
    color: white;
}
.navbar{
    border-bottom: 1px solid gray;
}


/* ************************************************ Home **************************************** */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 40px 5%;
}

/* Image section */
.img {
    width: 50%;
    height: 80vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 100%;
    height: 70%;
    border-radius: 40px;
    display: block;
    
}

/* Content section */
.cont {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 15px;
}

.h-btn {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    color: green;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.cont h1 {
    font-size: 60px;
    font-weight: bolder;
    line-height: 1.2;
}

.cont h1 span {
    color: green;
}

.cont p {
    font-size: 18px;
    color: gray;
    max-width: 500px;
}

/* ================= */
/* Tablet Responsive */
/* ================= */
@media (max-width: 992px) {

    .home {
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        
        
    }

    .cont,
    .img {
        width: 100%;
    }

    .cont h1 {
        font-size: 42px;
    }
    .cont {
        align-items: center;
        padding-bottom: 20px;
    }
    .cont p {
        font-size: 16px;
        margin: auto;
    }

}

/* ================= */
/* Mobile Responsive */
/* ================= */
@media (max-width: 576px) {

    .home {
        padding: 20px;
    }

    .cont h1 {
        font-size: 32px;
    }

    .h-btn {
        width: fit-content;
        font-size: 14px;
    }

}
/* ************************************************ Home End ************************************ */
/*  *********************************************** Cards 1s ******************************************** */
/* Remove card border completely */

.custom-card {
    border: none;
    padding-bottom: 20px; /* bottom padding */
    width: 220px; /* set a fixed width for the card */
    flex-wrap: wrap;
    
}

/* Image styling */
.custom-card img {
    border-radius: 12px; /* rounded corners */
    border: none; /* remove any border */
    height: 200px;
}

/* Make heading bold and black */
.custom-card .card-title {
    font-weight: 700;
    color: #000;
}
.btn1{
    padding: 5px 15px;
    background-color: rgba(214, 207, 207, 0.877);
    color: green;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    text-align: center;
}
.cards{
    text-align: center;
        padding-top: 25px;
        
}
.cards span{
    color: green;
}
.cards p{
    color: gray;
    font-size: 18px;
    margin-bottom: 20px;
}
.cards h1{

    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
    padding-top: 10px;
}
@media (max-width: 576px) {
    .custom-card {
        width: 100%; /* full width on small screens */
    }
}

/* ********************************************** Our Blog ************************************************************* */

.custom-card1 {
    padding-bottom: 20px; /* bottom padding */
    width: 300px; /* set a fixed width for the card */
    align-items: center;
    text-align: left;    
}

/* Image styling */
.custom-card1 img {
    border-radius: 12px; /* rounded corners */
    border: none; /* remove any border */
    height: 200px;
}

/* Make heading bold and black */
.custom-card1 .card-title {
    font-weight: 700;
    color: #000;
}
.btn2{
    padding:15px 20px;
    background-color: green;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    font-size: large;
    border: none;
    text-align: center;
    margin-bottom: 15px;
}